{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-classes",
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
